.estacionamientoContainer {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .section h2 {
    font-size: 1.5rem;
    color: #f3f4f6;
    margin-bottom: 1rem;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  /* Estilos del modal */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease;
  }
  
.modalOverlay.showModal {
  opacity: 1; /* Se muestra cuando la clase `showModal` se agrega */
}

/* Modal */
.modal {
  background-color: #1f2937;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  color: white;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-20px); /* Inicia ligeramente fuera de la vista */
  opacity: 0; /* Inicia oculto */
}

.modal.showModal {
  transform: translateY(0); /* Se mueve al centro cuando la clase `showModal` se agrega */
  opacity: 1; /* Se hace visible */
}

/* Modal Header */
.modal h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #10b981;
  text-align: center;
}

/* Inputs del modal */
.modal input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #374151;
  color: white;
  font-size: 1rem;
}

/* Botones del modal */
.modal button {
  background-color: #10b981;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Botón de cancelar */
.modal button:last-child {
  background-color: #ef4444;
}

.modal button:hover {
  background-color: #059669;
  transform: translateY(-2px);
}

/* Botón de cancelar hover */
.modal button:last-child:hover {
  background-color: #dc2626;
  transform: translateY(-2px);
}

/* Cerrar el modal */
.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modalClose:hover {
  transform: rotate(90deg);
}